.end{

    &__block1{
        display: flex;
            justify-content: space-between;
            padding-top: 44px;
    }

    &__p1{
        
font-family: 'Recoleta';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

text-align: center;

color: #163A24;

    }

    &__icons img{
padding-left: 10px;
    }

    &__block2{
        display: flex;
        margin-top: 70px;
    }

    &__navbar &__ul{
        display: flex;
        margin-left: 340px;
       
    }

    &__ul li,a{

        padding-left: 14px;
        font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: right;

color: #198C36;

    }
}