.interest{



    &__first-h1{
        padding-top: 95px;
        font-family: 'Recoleta';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 54px;
/* identical to box height, or 112% */

text-align: center;

color: #163A24;

    }

&__p1{
    padding-top: 26px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

text-align: center;

color: #163A24;

}


&__blocks{
    display: flex;

}

&__block1{
width: 353px;
height: 393px;
padding-left: 40px;
background: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
    margin: 20px 0 137px 40px;
}

&__block1:hover{
    transform: scale(1.1);
    transition: 1s;
}

&__block1 img{
    width: 62px;
height: 75px;
margin-top: 50px;
}

&__h2{
    font-family: 'Recoleta';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 32px;
/* or 112% */


color: #163A24;

padding: 20px 0 8px 0;
}

&__ps{
    padding-top: 15px;

    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #163A24;

}
}